// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper_empty_cart{
  display: grid;
  /*grid-template-columns: 200px 200px 200px;*/
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 6%;
}

#back{
margin-top: 1%;
}

.Delete{
font-size: 100%;
font-weight: bold;
color:red;
}

p{
  // font-weight: bold;
}

#total{
  color: darkgreen;
  font-weight: bold;
}
.Product_name{

  color:blue;
}


#checkout .Checkout{
font-size: 110%;
margin-top: 1%;

}
