// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  display: grid;
  justify-items: center;
  background-color: #ddccff ;
}

.body-class{
  background: #9966ff;

}

.jon-wrapper{
  display:grid;
  border:#333 1px solid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  padding: 2em;
  background-color: #ddccff;

  // margin: 2em 2em 2em 2em;
}
