// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper500{
margin: 0 auto;
padding-bottom: 10%;
width: 25%;

align-items: left;

font-family: sans-serif;
font-size: 12;

border-style: groove;
}

p{font-weight: bold;}

#id_sign_in{
font-size: 210%;
}

.special_input{
size: 10px 10px;  
}
