
<button id="back"><%= link_to 'Back to Amazonia.com', root_path %></button>

<div class="wrapper1">
  <div></div>
<div id="center">
<h1>Add new Product</h1></br>
<%= render 'form', product: @product %>
</div>
</div>
